<!DOCTYPE html>
<html>  
    <head>
        <title>Car dashboard</title>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.1/ws.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
            <link rel="stylesheet" href="/internal/style.css">
            
    </head>    

    <body  class="baseBody">
        <header class="text-center" >
            <h1 class="text-4xl md:text-6xl">Car dashboard</h1>
            <p class="text-xl md:text-2xl">API Key: {{key}}</p>
            <p class="text-xl md:text-2xl">VIN: {{VIN}}</p>
        </header>
        <main>
        <div hx-ext="ws" ws-connect="/internal/dashboard/ws?VIN={{VIN}}&key={{key}}">
            <div id="car-info" hx-swap-oob="true" hx-swap="innerHTML transition:true">   
                <p>Awaiting real-time vehicle data connection...</p>
            </div>
        </div>
        </main>
        <div id="Iframe" class="mt-6 md:mt-12 w-full max-w-4xl">
            <iframe src="/internal/terminal?VIN={{VIN}}&key={{key}}" width="100%" height="400px" style="border: none;"></iframe>
        </div>

        <div id="response"></div>
    </body>
</html>