<!DOCTYPE html>
<html>  
    <head>
        <title>Car dashboard</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.1/ws.js"></script>{#delete if diffrent wy to dashboard#}

            <script src="https://cdn.jsdelivr.net/npm/htmx-ext-json-enc@2.0.1/json-enc.js"></script>




            <link rel="stylesheet" href="/internal/style.css">

    </head>    



    <body hx-ext="head-support" hx-swap-oob="true" class="min-h-screen text-zinc-200 flex flex-col items-center justify-center p-6 md:p-16 selection:bg-sky-300 selection:text-white animate-fade-in-long">
        <header class="text-center" >
            <h1 class="text-4xl  md:text-5xl">Car list</h1>
            <p class="text-xl  md:text-2xl">API key: {{ key }}</p>
            <div class="flex flex-row gap-4 w-full items-center justify-center mt-4">
                <button  hx-get="/internal/dashboard/OAuth2settings?key={{ key }}" hx-target="body" hx-swap="outerHTML transition:true" class="sec whitespace-nowrap mt-4 px-4 py-2.5 text-lg bg-blue-500/50 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                    OAuth2 Settings
                </button>
                <button  hx-get="/internal/dashboard/snapshots?key={{ key }}" hx-target="body" hx-swap="outerHTML transition:true" class="sec mt-4 px-4 py-2.5 text-lg bg-blue-500/50 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                    Snapshots
                </button>
            </div>
        </header>

        <main class="text-center space-y-6 mt-6 md:mt-12 ">
            <ul>
                {% for vin in VINs%}
                <section class=" mb-2 w-full max-w-md p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm space-y-4 sec text-center flex flex-col ">

                <li>
                    <p class="mb-2 text-xl md:text-2xl">{{ vin }}</p>
                    <div class="flex flex-row w-full mb-4 gap-4">

                    <form hx-get="/internal/dashboard/loading?key={{ key }}" hx-target="body" hx-swap="outerHTML transition:true" class="w-full" >
                        <button type="submit" name="VIN" value="{{ vin }}" hx-swap="outerHTML transition:true" 
                        class="w-full whitespace-nowrap px-4 py-2.5 bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                            Load data
                        </button>
                    </form>


                    <form hx-delete="/internal/dashboard/delCar?key={{ key }}" hx-target="body" hx-swap="outerHTML transition:true" class="w-full">
                        <button type="submit" name="VIN" value="{{ vin }}" hx-swap="outerHTML transition:true" 
                        class="w-full px-4 py-2.5 bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                            Delete
                        </button>
                    </form>
                    </div>

                    <form hx-get="/internal/dashboard/redirect?key={{ key }}" hx-target="body" hx-swap="outerHTML transition:true" class="w-full">
                        <button type="submit" name="VIN" value="{{ vin }}" hx-swap="outerHTML transition:true" 
                        class="w-full px-4 py-2.5  bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                            Select
                        </button>
                    </form>


                </li>
                </section>
                {% endfor %}
            </ul>
        
        <script>
            // AI CODE
            document.body.addEventListener('htmx:configRequest', function(evt) {
                if (evt.detail.elt.id === 'New-car') {
                    // Pobieramy wartość wpisaną w input
                    const vin = evt.detail.parameters['VIN'];
                    if (vin) {
                        // Doklejamy ją dynamicznie do adresu URL jako Query Parameter
                        evt.detail.path += '&VIN=' + encodeURIComponent(vin);
                    }
                }
            });
        </script>

        <section class=" w-full max-w-md p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm space-y-4 sec text-center flex flex-col ">

            <form hx-post="dashboard/NewCar?key={{ key }}" class="" id="New-car" hx-target="body" hx-swap="transition:true">
                <p class=" text-lg md:text-xl ">Create new car</p>
                <input type="text" name="VIN" placeholder="Enter VIN"
                class="w-full mt-2 px-4 py-2.5 bg-zinc-950 border border-zinc-800 rounded-xl text-zinc-100 placeholder-zinc-600 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent transition-all">
                <button type="submit"
                class="w-full mt-2 px-4 py-2.5 bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                    Create
                </button>

            </form>
            <div id="error-response"></div>

        </section>
        </main>
        <form action="/internal/welcome" method="GET" class="inline-block mt-4">
            <button
                type="submit"
                class="sec min-w-30px px-4 py-2.5 bg-blue-500/30 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                Logout
            </button>
        </form>
    </body>
</html>
