<!DOCTYPE html>
<html>  
    <head>
        <title>Car dashboard</title>
            <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/htmx-ext-ws@2.0.1/ws.js"></script>

            <script src="https://cdn.jsdelivr.net/npm/htmx-ext-json-enc@2.0.1/json-enc.js"></script>
    </head>    

    <body>
        <h1>Car dashboard</h1>
        <p>API Key: <span id="API_KEY"></span></p>
        
        <div hx-ext="ws" ws-connect="ws://127.0.0.1:8000/internal/dashboard/ws?VIN=VIN123&key=vcc_api_key">
            <div id="car-info">   
                <p>Awaiting real-time vehicle data connection...</p>
            </div>
        </div>

        <div id="response"></div>

        <script>
            const urlParams = new URLSearchParams(window.location.search);
            document.getElementById('API_KEY').textContent = urlParams.get('key') || 'None';
        </script>
    </body>
</html>