<div id="{{ data }}">
    <form data-attribute="{{ data }}" hx-ext="json-enc" hx-post="/internal/dashboard/update?VIN={{ VIN }}&key={{ key }}"
        hx-target="#response">
        <p>{{ value }}</p>
        <input type="hidden" name="attribute" value="{{ data }}">

        {% if options == "int" %}
        <input type="number" name="value" min="0">
        {% else %}
        <select name="value">
            {% for option in options %}
            <option value="{{ option }}">{{ option }}</option>
            {% endfor %}
        </select>
        {% endif %}

        <input type="submit" value="change">
    </form>
</div>