<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scenarios</title>
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/htmx-ext-json-enc@2.0.1/json-enc.js"></script>

    <link rel="stylesheet" href="/internal/style.css">

</head>

<body class="baseBody animate-fade-in-long ">
    <header class="baseHeader">
        <h1 class="text-4xl  md:text-6xl">Scenarios</h1>
        <p class="text-xl  md:text-2xl">API key: {{ key }}</p>
        <p class="text-xl  md:text-2xl">VIN: {{ vin }}</p>
        <p class="text-xl md:text-2xl text-red-700">{{note}}</p>
    </header>

    <main>

        <section class=" baseSection mb-2 sec ">
            <p class="text-lg  md:text-xl mb-2">Select a scenario to load</p>
            <form hx-get="/internal/dashboard/loading?key={{ key }}&VIN={{ vin }}" hx-target="body" hx-swap="outerHTML transition:true" >
                <select name="name" class="inputSelection">
                {% for scenario in scenarios %}
                    <option value="{{ scenario }}">{{ scenario }}</option>
                {% endfor %}
                </select> 

                <button type="submit" hx-swap="outerHTML transition:true" 
                    class="mt-2 carSelectionButton">
                    load
                </button>

            </form>
            <p class="text-xs text-zinc-400  md:text-sm ">Automatic redirect will occur after selection</p>
            <div id="error-response"></div>
            <div class="-mt-8 "></div>
        </section>



    </main>
    <button
        class="sec downButton mt-4"
        hx-get="/internal/dashboard?key={{ key }}" hx-target="body" hx-swap="outerHTML transition:true">
        Go Back
    </button>
    
    </div>
</body>
</html>