@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

body {
  background: radial-gradient(circle at 50% 70%, #1b3552 30%, #111d2d 100%);
  background-attachment: fixed; 
  color: #ffffff;   
  font-family: "Source Sans 3", sans-serif;
}

h1 {
  font-family: "Arimo", sans-serif;
  font-weight: 350; 
  letter-spacing: -0.02em;
}

