<!DOCTYPE html>
    <html>
    <head>
        <link rel="stylesheet" href="welcome.css">
        <title>FastAPI with HTMX</title>
        <script src="https://unpkg.com/htmx.org@1.6.1/dist/htmx.min.js"></script>
        
    </head>
    <body>
        <h1>Welcome to Volvo API Playground Dashboard</h1>
        <form>
            <label>Enter your API Key:</label><br>
            <input type="text" id="vcc_api_key" name="vcc_api_key">
        </form>
        <p>----------------</p>
        <p>No API key? Generate one.</p>
        <button 
            class="btn primary" 
            hx-get="/modal" hx-target="body" 
            hx-swap="beforeend"
        >
        Generate API Key
        </button>
        <div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
        <div class="modal-underlay" _="on click trigger closeModal"></div>
        <div class="modal-content">
            <h1>Modal Dialog</h1>
            This is the modal content.
            You can put anything here, like text, or a form, or an image.
            <br>
            <br>
            <button class="btn danger" _="on click trigger closeModal">Close</button>
        </div>
        </div> 
    </body>
    </html>