<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Playground login</title>
    <script src="https://unpkg.com/htmx.org@2.0.1/dist/htmx.min.js"></script>
    <link rel="stylesheet" href="/internal/style.css">

</head>

<body class="baseBody">
    <div class="flex-1"></div>
    <header class="baseHeader">
        <h1 class="text-4xl  md:text-5xl">Volvo API Playground Dashboard</h1>
    </header>
    <main class="w-full max-w-md">
        <section class="p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm space-y-4 sec">

            <div class=" flex flex-col gap-4 text-center">
                <p class="text-4xl">Dashboard Login</p>
            <form hx-get="/internal/welcome/Check" hx-target="#error-message" hx-swap="innerHTML transition:true" class="flex flex-col gap-4" >
    
                <label>Enter your API Key:</label>
                <input type="text" id="vcc_api_key" name="vcc_api_key" placeholder="API Key" required class="w-full px-4 py-2.5 bg-zinc-950 border border-zinc-800 rounded-xl text-zinc-100 placeholder-zinc-600 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent transition-all">
                <input id="submit-btn" type="submit" value="Submit" class="w-full px-4 py-2.5 bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
            </form>
            <div id="error-message"></div>
            <hr class="border-slate-500 my-1">
            <div id="generate-api-key">
                <p>No API key? Generate one.</p>
                <button hx-get="/internal/welcome/APIKey" hx-target="#generate-api-key"
                    hx-swap="outerHTML transition:true"  class="w-full mt-2 px-4 py-2.5 bg-blue-500 hover:bg-sky-700 text-zinc-200 rounded-xl border border-zinc-700/50 transition-colors whitespace-nowrap active:scale-[0.98] cursor-pointer">                    
                    Generate API Key
                </button>
            </div>
            </div>
        </section>
    </main>
    <div class="flex-2"></div>
</body>

</html>