 <div id="fuelAndBattery" class="flex flex-row flex-wrap gap-4 mt-6 justify-center animate-fade-in">
        <section class=" min-w-100 max-w-125 order-first lg:order-2 dashboardSectionRe">
            <p class="text-lg md:text-xl">Fuel Type:</p>
                <div class="mt-2 mb-4">
                    <p class="text-base md:text-lg" id="fuelType">{{fuelType}} </p>
                </div>
                <form data-attribute="fuelType" hx-ext="json-enc"
                    hx-post="/internal/dashboard/update?VIN={{ VIN }}&key={{ key }}" hx-target="#response">
                    <input type="hidden" name="attribute" value="fuelType">
                    <select name="value" class="inputSelection">
                        <option value="PETROL">PETROL</option>
                        <option value="DIESEL">DIESEL</option>
                        <option value="HYBRID">HYBRID</option>
                        <option value="ELECTRIC">ELECTRIC</option>
                    </select>
                    <input type="submit" value="change" class="submitButtonDash">
                </form>

        </section>
        {% if fuelType != "ELECTRIC" %}
        <section class="min-w-75 max-w-100 order-1 dashboardSectionRe">
        {% else %}
        <section class="min-w-75 max-w-100 order-1 dashboardSectionRe" hidden>
        {% endif %}
            <p class="text-lg md:text-xl">Fuel Level:</p>
            <div class="flex items-center gap-1 mt-2 mb-4">
                <p class="text-base md:text-lg" id="fuelICE"> {{fuelICE}} </p>
                <p class="text-base md:text-lg">l</p>
            </div>
                <form data-attribute="fuelICE" hx-ext="json-enc"
                    hx-post="/internal/dashboard/update?VIN={{ VIN }}&key={{ key }}" hx-target="#response">
                    <input type="hidden" name="attribute" value="fuelICE">
                    <input type="number" name="value" min="0" class="min-w-50 max-w-75 inputText">
                    <input type="submit" value="change" class="submitButtonDash">

                </form>

        </section>


        {% if fuelType == "HYBRID" or fuelType == "ELECTRIC" %}
        <section class="min-w-75 max-w-100 order-3 md:order-2 dashboardSectionRe">
        {% else %}
        <section class="min-w-75 max-w-100 order-3 md:order-2 dashboardSectionRe" hidden>
        {% endif %}
            <p class="text-lg md:text-xl">Battery Level:</p>
            <div class="flex items-center gap-1 mt-2 mb-4">
                <p class="text-base md:text-lg" id="fuelElectric">{{fuelElectric}}</p>
                <p class="text-base md:text-lg">%</p>
            </div>   
                <form data-attribute="fuelElectric" hx-ext="json-enc"
                    hx-post="/internal/dashboard/update?VIN={{ VIN }}&key={{ key }}" hx-target="#response">
                    <input type="hidden" name="attribute" value="fuelElectric">
                    <input type="number" name="value" min="0" class="min-w-50 max-w-75 inputText">
                    <input type="submit" value="change" class="submitButtonDash">
                </form>

        </section>

        </div>