 <div id="fuelAndBattery" class="flex flex-row flex-wrap gap-4 mt-6 justify-center animate-fade-in">
        <section class=" min-w-[400px] max-w-[500px] order-first lg:order-2 p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm sec text-center items-center flex flex-col">
            <p class="text-lg md:text-xl">Fuel Type:</p>
                <div class="mt-2 mb-4">
                    <p class="text-base md:text-lg" id="fuelType">{{fuelType}} </p>
                </div>
                <form data-attribute="fuelType" hx-ext="json-enc"
                    hx-post="/internal/dashboard/update?VIN={{ VIN }}&key={{ key }}" hx-target="#response">
                    <input type="hidden" name="attribute" value="fuelType">
                    <select name="value" class="w-full px-4 py-2.5 bg-zinc-950 border border-zinc-800 rounded-xl text-zinc-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent transition-all appearance-none text-center [text-align-last:center] cursor-pointer">
                        <option value="PETROL">PETROL</option>
                        <option value="DIESEL">DIESEL</option>
                        <option value="HYBRID">HYBRID</option>
                        <option value="ELECTRIC">ELECTRIC</option>
                    </select>
                    <input type="submit" value="change" class="w-[50dvw] md:w-[15dvw] mt-2 px-4 py-2.5 bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                </form>

        </section>
        {% if fuelType != "ELECTRIC" %}
        <section class="min-w-[300px] max-w-[400px] order-1 p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm  sec text-center items-center flex flex-col">
        {% else %}
        <section class="min-w-[300px] max-w-[400px] order-1 p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm  sec text-center items-center flex flex-col" hidden>
        {% endif %}
            <p class="text-lg md:text-xl">Fuel Level:</p>
            <div class="flex items-center gap-1 mt-2 mb-4">
                <p class="text-base md:text-lg" id="fuelICE"> {{fuelICE}} </p>
                <p class="text-base md:text-lg">l</p>
            </div>
                <form data-attribute="fuelICE" hx-ext="json-enc"
                    hx-post="/internal/dashboard/update?VIN={{ VIN }}&key={{ key }}" hx-target="#response">
                    <input type="hidden" name="attribute" value="fuelICE">
                    <input type="number" name="value" min="0" class="min-w-[200px] max-w-[300px] px-4 py-2.5 bg-zinc-950 border border-zinc-800 rounded-xl text-zinc-100 placeholder-zinc-600 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent transition-all">
                    <input type="submit" value="change" class="w-[50dvw] max-w-[300px] md:w-[15dvw] mt-2 px-4 py-2.5 bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">

                </form>

        </section>


        {% if fuelType == "HYBRID" or fuelType == "ELECTRIC" %}
        <section class="min-w-[300px] max-w-[400px] order-3 md:order-2 p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm  sec text-center items-center flex flex-col">
        {% else %}
        <section class="min-w-[300px] max-w-[400px] order-3 md:order-2 p-6 bg-zinc-900/50 border border-zinc-800 rounded-2xl shadow-xl backdrop-blur-sm  sec text-center items-center flex flex-col" hidden>
        {% endif %}
            <p class="text-lg md:text-xl">Battery Level:</p>
            <div class="flex items-center gap-1 mt-2 mb-4">
                <p class="text-base md:text-lg" id="fuelElectric">{{fuelElectric}}</p>
                <p class="text-base md:text-lg">%</p>
            </div>   
                <form data-attribute="fuelElectric" hx-ext="json-enc"
                    hx-post="/internal/dashboard/update?VIN={{ VIN }}&key={{ key }}" hx-target="#response">
                    <input type="hidden" name="attribute" value="fuelElectric">
                    <input type="number" name="value" min="0" class="min-w-[200px] max-w-[300px] px-4 py-2.5 bg-zinc-950 border border-zinc-800 rounded-xl text-zinc-100 placeholder-zinc-600 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:border-transparent transition-all">
                    <input type="submit" value="change" class="w-[50dvw] max-w-[300px] md:w-[15dvw] mt-2 px-4 py-2.5 bg-blue-500 text-white rounded-xl hover:bg-sky-700 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-offset-1 transition-all active:scale-[0.98] cursor-pointer">
                </form>

        </section>

        </div>